CONVEX_URL=
CONVEX_DEPLOY_KEY=
BROWSER_USE_API_KEY=
CMM_USERNAME=
CMM_PASSWORD=
CLAIMMD_USERNAME=
CLAIMMD_PASSWORD=
CLAIMMD_API_KEY=
STEDI_API_KEY=
AGENTMAIL_API_KEY=
LAMINAR_API_KEY=
BACKEND_PORT=8000
FRONTEND_PORT=3000
