CONVEX_URL=
CONVEX_DEPLOY_KEY=
BROWSER_USE_API_KEY= bu_F4DcBS1a7lwgyzWrdERDrFSkxKJK8gqwWh9BhmSzKp0
CMM_USERNAME=
CMM_PASSWORD=
FLEXPA_SECRET_KEY=
STEDI_API_KEY= test_tpKNMhk.PQBenWJty1jFtVncYPUKNwIu
AGENTMAIL_API_KEY=
BACKEND_PORT=8000
FRONTEND_PORT=3000
